@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Poppins:500,600&display=swap);

@charset "UTF-8";

.btn {
  padding: 9px 26px;
  text-align: center;
  border-radius: 10px;
  white-space: nowrap;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  color: #6861f2;
  background-color: #e1dffc;
}

.btn:hover,
.btn:active {
  background-color: #017737;
}

.btn_blue {
  background-color: #6861f2;
  color: #fff;
}

.title {
  font-weight: 600;
  font-size: 40px;
  line-height: 116%;
  letter-spacing: -0.03em;
  color: #192435;
  text-align: center;
  font-family: "Poppins";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  background-color: #fff;
  color: #353535;
  line-height: 1;
  font-family: "Inter", san-serif, Arial;
  font-size: 1rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter", san-serif, Arial;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-weight: 500;
  font-display: optional;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75.9375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.header {
  z-index: 50;
  position: relative;
}

.header__container {
  display: -ms-grid;
  display: grid;
  min-height: 4.375rem;
}

.header__nav {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 0.625rem;
}

.header__nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 100%;
  height: 4.375rem;
  background-color: #017737;
  -webkit-transition: left 0.4s ease 0s;
  -o-transition: left 0.4s ease 0s;
  transition: left 0.4s ease 0s;
}

.menu-open .header__nav::before {
  left: 0;
}

.header__logo {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 116%;
  letter-spacing: -0.03em;
  color: #017737;
  font-family: "Poppins";
  white-space: nowrap;
  z-index: 5;
  -webkit-transition: color, -webkit-transform 0.3s ease 0s;
  transition: color, -webkit-transform 0.3s ease 0s;
  -o-transition: color, transform 0.3s ease 0s;
  transition: color, transform 0.3s ease 0s;
  transition: color, transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.header__logo:hover,
.header__logo:active {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.menu-open .header__logo {
  color: #fff;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (gap: clamp( 0.375rem , -3.9203020134rem  +  8.9485458613vw , 2.875rem )) {
  .header__menu {
    gap: clamp( 0.375rem , -3.9203020134rem  +  8.9485458613vw , 2.875rem );
  }
}

@supports not (gap: clamp( 0.375rem , -3.9203020134rem  +  8.9485458613vw , 2.875rem )) {
  .header__menu {
    gap: calc(0.375rem + 2.5 * (100vw - 48rem) / 27.9375);
  }
}

.menu-open .header__menu {
  -webkit-transform: translate(0rem, 0rem);
      -ms-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
}

.header__link {
  padding: 0.3125rem;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.21;
  color: rgba(98, 98, 98, 0.7);
  white-space: nowrap;
  -webkit-transition: color, 0.3s ease 0s;
  -o-transition: color, 0.3s ease 0s;
  transition: color, 0.3s ease 0s;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link::after {
  content: "✔";
  position: absolute;
  right: -0.625rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__link:hover,
.header__link:active {
  color: #017737;
  text-decoration: underline;
}

.header__link:hover::after,
.header__link:active::after {
  opacity: 1;
  visibility: visible;
}

.header__button {
  z-index: 5;
  white-space: inherit;
}

.header__burger {
  display: none;
  height: 1.5625rem;
  width: 2.5rem;
  position: relative;
}

.footer {
  padding: 2.5rem 2rem;
  background-color: #6861f2;
  color: #fff;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 1.5625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__logo svg {
  -webkit-transition: fill 0.3s ease 0s;
  -o-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
  fill: #fff;
}

.footer__logo:hover svg {
  fill: #000;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (gap: clamp( 1.25rem , 0.8175675676rem  +  2.1621621622vw , 2.5rem )) {
  .footer__menu {
    gap: clamp( 1.25rem , 0.8175675676rem  +  2.1621621622vw , 2.5rem );
  }
}

@supports not (gap: clamp( 1.25rem , 0.8175675676rem  +  2.1621621622vw , 2.5rem )) {
  .footer__menu {
    gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 57.8125);
  }
}

.footer__link {
  position: relative;
}

.footer__link::after {
  content: "✔";
  position: absolute;
  right: -0.9375rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility, visibility, color 0.3s ease 0s;
  -o-transition: visibility, visibility, color 0.3s ease 0s;
  transition: visibility, visibility, color 0.3s ease 0s;
}

.footer__link:hover,
.footer__link:active {
  color: #000;
  text-decoration: underline;
}

.footer__link:hover::after,
.footer__link:active::after {
  opacity: 1;
  visibility: visible;
}

.footer__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1.5rem;
}

.footer__feedback-link {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.footer__feedback-link:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.footer__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: white;
}

.hero {
  text-align: center;
  background-color: #d7f9d3;
}

@supports (padding-top: clamp( 2.5rem , 0.8783783784rem  +  8.1081081081vw , 7.1875rem )) {
  .hero {
    padding-top: clamp( 2.5rem , 0.8783783784rem  +  8.1081081081vw , 7.1875rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.8783783784rem  +  8.1081081081vw , 7.1875rem )) {
  .hero {
    padding-top: calc(2.5rem + 4.6875 * (100vw - 20rem) / 57.8125);
  }
}

.hero__top {
  z-index: 2;
}

@supports (margin-bottom: clamp( 1.25rem , -0.2635135135rem  +  7.5675675676vw , 5.625rem )) {
  .hero__top {
    margin-bottom: clamp( 1.25rem , -0.2635135135rem  +  7.5675675676vw , 5.625rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , -0.2635135135rem  +  7.5675675676vw , 5.625rem )) {
  .hero__top {
    margin-bottom: calc(1.25rem + 4.375 * (100vw - 20rem) / 57.8125);
  }
}

.hero__title {
  font-weight: 600;
  line-height: 116%;
  letter-spacing: -0.03em;
  color: #017737;
}

@supports (font-size: clamp( 1.875rem , 1.2263513514rem  +  3.2432432432vw , 3.75rem )) {
  .hero__title {
    font-size: clamp( 1.875rem , 1.2263513514rem  +  3.2432432432vw , 3.75rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.2263513514rem  +  3.2432432432vw , 3.75rem )) {
  .hero__title {
    font-size: calc(1.875rem + 1.875 * (100vw - 20rem) / 57.8125);
  }
}

.hero__text {
  font-weight: 400;
  line-height: 180%;
  color: rgba(0, 0, 0, 0.8);
  max-width: 37.6875rem;
  margin: 1.25rem auto;
}

@supports (font-size: clamp( 1.125rem , 1.0817567568rem  +  0.2162162162vw , 1.25rem )) {
  .hero__text {
    font-size: clamp( 1.125rem , 1.0817567568rem  +  0.2162162162vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0817567568rem  +  0.2162162162vw , 1.25rem )) {
  .hero__text {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 57.8125);
  }
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero__link {
  z-index: 3;
}

.hero__wrapper {
  position: relative;
}

.hero__wrapper::before,
.hero__wrapper::after {
  content: "";
  position: absolute;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0.8s;
  transition: -webkit-transform 0.3s ease 0.8s;
  -o-transition: transform 0.3s ease 0.8s;
  transition: transform 0.3s ease 0.8s;
  transition: transform 0.3s ease 0.8s, -webkit-transform 0.3s ease 0.8s;
}

.loaded .hero__wrapper::before,
.loaded .hero__wrapper::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.hero__wrapper::before {
  background: url("../img/hero/decor-1.svg") 0 0 no-repeat;
  height: 19.9375rem;
  width: 18.9375rem;
  left: -5.625rem;
  top: -2.8125rem;
}

.hero__wrapper::after {
  right: -2.8125rem;
  bottom: -1.1875rem;
  background: url("../img/hero/decor-2.svg") 0 0 no-repeat;
  height: 19.9375rem;
  width: 21.4375rem;
}

.hero__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 25.9375rem;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.hero__img {
  position: absolute;
  bottom: -2.6875rem;
  width: 100%;
  height: 100%;
  border-radius: 1.875rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  z-index: 1;
}

.hero__img:nth-child(1),
.hero__img:nth-child(3) {
  max-height: 16.875rem;
}

.hero__img:nth-child(1) {
  max-width: 30rem;
  left: -100%;
}

.loaded .hero__img:nth-child(1) {
  left: 0;
}

.hero__img:nth-child(2) {
  max-width: 57.875rem;
  max-height: 25.9375rem;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  bottom: -100%;
  -webkit-transition-delay: 0.6s;
       -o-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.loaded .hero__img:nth-child(2) {
  bottom: -2.6875rem;
  z-index: 3;
  opacity: 1;
  visibility: visible;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hero__img:nth-child(3) {
  max-width: 37.625rem;
  right: -100%;
  -webkit-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.loaded .hero__img:nth-child(3) {
  right: 0;
}

@supports (padding-top: clamp( 2.5rem , 0.6621621622rem  +  9.1891891892vw , 7.8125rem )) {
  .more-block {
    padding-top: clamp( 2.5rem , 0.6621621622rem  +  9.1891891892vw , 7.8125rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.6621621622rem  +  9.1891891892vw , 7.8125rem )) {
  .more-block {
    padding-top: calc(2.5rem + 5.3125 * (100vw - 20rem) / 57.8125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 0.6621621622rem  +  9.1891891892vw , 7.8125rem )) {
  .more-block {
    padding-bottom: clamp( 2.5rem , 0.6621621622rem  +  9.1891891892vw , 7.8125rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.6621621622rem  +  9.1891891892vw , 7.8125rem )) {
  .more-block {
    padding-bottom: calc(2.5rem + 5.3125 * (100vw - 20rem) / 57.8125);
  }
}

.more-block__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@supports (gap: clamp( 2.8125rem , 1.6233108108rem  +  5.9459459459vw , 6.25rem )) {
  .more-block__container {
    gap: clamp( 2.8125rem , 1.6233108108rem  +  5.9459459459vw , 6.25rem );
  }
}

@supports not (gap: clamp( 2.8125rem , 1.6233108108rem  +  5.9459459459vw , 6.25rem )) {
  .more-block__container {
    gap: calc(2.8125rem + 3.4375 * (100vw - 20rem) / 57.8125);
  }
}

.more-block__text {
  font-weight: 600;
  line-height: 145%;
  letter-spacing: -0.03em;
  color: #192435;
  -ms-flex-preferred-size: 33.375rem;
      flex-basis: 33.375rem;
}

@supports (font-size: clamp( 1.75rem , 1.5986486486rem  +  0.7567567568vw , 2.1875rem )) {
  .more-block__text {
    font-size: clamp( 1.75rem , 1.5986486486rem  +  0.7567567568vw , 2.1875rem );
  }
}

@supports not (font-size: clamp( 1.75rem , 1.5986486486rem  +  0.7567567568vw , 2.1875rem )) {
  .more-block__text {
    font-size: calc(1.75rem + 0.4375 * (100vw - 20rem) / 57.8125);
  }
}

.more-block__text span {
  color: #6861f2;
}

.more {
  text-align: center;
}

.more__title {
  margin-bottom: 1.25rem;
}

.more__subtitle {
  color: rgba(53, 53, 53, 0.6);
}

@supports (margin-bottom: clamp( 2.5rem , 1.6351351351rem  +  4.3243243243vw , 5rem )) {
  .more__subtitle {
    margin-bottom: clamp( 2.5rem , 1.6351351351rem  +  4.3243243243vw , 5rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.6351351351rem  +  4.3243243243vw , 5rem )) {
  .more__subtitle {
    margin-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 57.8125);
  }
}

.more__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 16.875rem);
  grid-gap: 2.5rem;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.more__heading {
  margin-top: 2.8125rem;
  margin-bottom: 0.4375rem;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 150%;
  white-space: nowrap;
  color: #192435;
}

.more__text {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 149.5%;
  color: rgba(53, 53, 53, 0.6);
}

@supports (padding-top: clamp( 2.5rem , 0.6621621622rem  +  9.1891891892vw , 7.8125rem )) {
  .about {
    padding-top: clamp( 2.5rem , 0.6621621622rem  +  9.1891891892vw , 7.8125rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.6621621622rem  +  9.1891891892vw , 7.8125rem )) {
  .about {
    padding-top: calc(2.5rem + 5.3125 * (100vw - 20rem) / 57.8125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 0.6621621622rem  +  9.1891891892vw , 7.8125rem )) {
  .about {
    padding-bottom: clamp( 2.5rem , 0.6621621622rem  +  9.1891891892vw , 7.8125rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.6621621622rem  +  9.1891891892vw , 7.8125rem )) {
  .about {
    padding-bottom: calc(2.5rem + 5.3125 * (100vw - 20rem) / 57.8125);
  }
}

@supports (margin-bottom: clamp( 2.5rem , 1.2027027027rem  +  6.4864864865vw , 6.25rem )) {
  .about__title {
    margin-bottom: clamp( 2.5rem , 1.2027027027rem  +  6.4864864865vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.2027027027rem  +  6.4864864865vw , 6.25rem )) {
  .about__title {
    margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 57.8125);
  }
}

.about__items {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.9375rem;
}

.about__item {
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1.125rem;
  background-color: #017737;
  border-radius: 0.7813rem;
  max-width: 30.3125rem;
  color: #fff;
  width: 100%;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.about__item-box {
  padding-top: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__item-img {
  border: 0.0119rem solid #000000;
  border-radius: 0.625rem;
}

.about__item:nth-child(even) {
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-transform: translate(200%, 0rem);
      -ms-transform: translate(200%, 0rem);
          transform: translate(200%, 0rem);
  -webkit-transition-delay: 0.8s;
       -o-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

._watcher-view .about__item:nth-child(even) {
  -webkit-transform: translate(0rem, 0rem);
      -ms-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
}

.about__item:nth-child(odd) {
  -ms-grid-column-align: start;
      justify-self: start;
  -webkit-transition-delay: 0.8s;
       -o-transition-delay: 0.8s;
          transition-delay: 0.8s;
  -webkit-transform: translate(-200%, 0rem);
      -ms-transform: translate(-200%, 0rem);
          transform: translate(-200%, 0rem);
}

._watcher-view .about__item:nth-child(odd) {
  -webkit-transform: translate(0rem, 0rem);
      -ms-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
}

.about__num {
  border-radius: 50%;
  opacity: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 1.625rem;
  height: 1.625rem;
  margin-bottom: 0.3125rem;
}

.about__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-bottom: 0.625rem;
}

.about__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-size: 0.775rem;
  line-height: 1.1875rem;
  color: #6861f2;
  background-color: #e1dffc;
  border-radius: 0.5536rem;
}

.about__link:hover {
  background-color: #6861f2;
  color: #fff;
}

.no-webp .session{
  background: url("../img/session/bg.jpg") center/cover no-repeat; }

.session {
  position: relative;
}

@supports (padding-top: clamp( 2.5rem , 1.3108108108rem  +  5.9459459459vw , 5.9375rem )) {
  .session {
    padding-top: clamp( 2.5rem , 1.3108108108rem  +  5.9459459459vw , 5.9375rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.3108108108rem  +  5.9459459459vw , 5.9375rem )) {
  .session {
    padding-top: calc(2.5rem + 3.4375 * (100vw - 20rem) / 57.8125);
  }
}

@supports (padding-bottom: clamp( 2.8125rem , 1.2557432432rem  +  7.7837837838vw , 7.3125rem )) {
  .session {
    padding-bottom: clamp( 2.8125rem , 1.2557432432rem  +  7.7837837838vw , 7.3125rem );
  }
}

@supports not (padding-bottom: clamp( 2.8125rem , 1.2557432432rem  +  7.7837837838vw , 7.3125rem )) {
  .session {
    padding-bottom: calc(2.8125rem + 4.5 * (100vw - 20rem) / 57.8125);
  }
}

.session__container {
  display: -ms-grid;
  display: grid;
}

.session__content {
  display: -ms-grid;
  display: grid;
  grid-gap: 1.25rem;
  padding: 2.625rem 2.25rem;
  background: #fff;
  border-radius: 1.25rem;
  max-width: 37.9375rem;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-transform: translate(200%, 0rem);
      -ms-transform: translate(200%, 0rem);
          transform: translate(200%, 0rem);
  -webkit-transition: all 0.3s ease 0.8s;
  -o-transition: all 0.3s ease 0.8s;
  transition: all 0.3s ease 0.8s;
}

._watcher-view .session__content {
  -webkit-transform: translate(0rem, 0rem);
      -ms-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
}

.session__heading {
  font-weight: 600;
  line-height: 116%;
  color: #192435;
  letter-spacing: -0.03em;
  font-family: "Poppins";
}

@supports (font-size: clamp( 1.25rem , 0.8175675676rem  +  2.1621621622vw , 2.5rem )) {
  .session__heading {
    font-size: clamp( 1.25rem , 0.8175675676rem  +  2.1621621622vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.8175675676rem  +  2.1621621622vw , 2.5rem )) {
  .session__heading {
    font-size: calc(1.25rem + 1.25 * (100vw - 20rem) / 57.8125);
  }
}

.session__text {
  padding-right: 1.375rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 149.5%;
  color: rgba(53, 53, 53, 0.6);
  margin-bottom: 1.25rem;
}

.session__list {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.3125rem;
}

.session__list-item {
  padding-right: 1.375rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 149.5%;
  color: rgba(53, 53, 53, 0.6);
}

.session__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider {
  background: -o-radial-gradient(50% 48.28%, 87.16% 87.16%, #d7f9d3 0%, #7bf3b2 100%);
  background: radial-gradient(87.16% 87.16% at 50% 48.28%, #d7f9d3 0%, #7bf3b2 100%);
  position: relative;
}

@supports (padding-top: clamp( 2.5rem , 1.6135135135rem  +  4.4324324324vw , 5.0625rem )) {
  .slider {
    padding-top: clamp( 2.5rem , 1.6135135135rem  +  4.4324324324vw , 5.0625rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.6135135135rem  +  4.4324324324vw , 5.0625rem )) {
  .slider {
    padding-top: calc(2.5rem + 2.5625 * (100vw - 20rem) / 57.8125);
  }
}

@supports (padding-bottom: clamp( 4.1875rem , 2.0253378378rem  +  10.8108108108vw , 10.4375rem )) {
  .slider {
    padding-bottom: clamp( 4.1875rem , 2.0253378378rem  +  10.8108108108vw , 10.4375rem );
  }
}

@supports not (padding-bottom: clamp( 4.1875rem , 2.0253378378rem  +  10.8108108108vw , 10.4375rem )) {
  .slider {
    padding-bottom: calc(4.1875rem + 6.25 * (100vw - 20rem) / 57.8125);
  }
}

.slider::before {
  content: "";
  background: url("../img/slider/decor.svg") 0 0 no-repeat;
  width: 8.8125rem;
  height: 5.4375rem;
  position: absolute;
  top: 11.25rem;
  left: 48%;
}

.slider__container {
  position: relative;
}

.slider__title {
  color: #fff;
}

@supports (margin-bottom: clamp( 2.5rem , 2.0675675676rem  +  2.1621621622vw , 3.75rem )) {
  .slider__title {
    margin-bottom: clamp( 2.5rem , 2.0675675676rem  +  2.1621621622vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.0675675676rem  +  2.1621621622vw , 3.75rem )) {
  .slider__title {
    margin-bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 57.8125);
  }
}

.slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@supports (gap: clamp( 1.875rem , -25.0936098655rem  +  43.4977578475vw , 7.9375rem )) {
  .slider__slide {
    gap: clamp( 1.875rem , -25.0936098655rem  +  43.4977578475vw , 7.9375rem );
  }
}

@supports not (gap: clamp( 1.875rem , -25.0936098655rem  +  43.4977578475vw , 7.9375rem )) {
  .slider__slide {
    gap: calc(1.875rem + 6.0625 * (100vw - 62rem) / 13.9375);
  }
}

.slider__img img {
  border-radius: 1.25rem;
  max-width: 100%;
}

.slider__content {
  -ms-flex-preferred-size: 27.5rem;
      flex-basis: 27.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 1.875rem;
}

.slider__heading {
  color: #017737;
  font-weight: 600;
  line-height: 1.35;
  font-family: "Poppins";
}

@supports (font-size: clamp( 1.5rem , 1.2837837838rem  +  1.0810810811vw , 2.125rem )) {
  .slider__heading {
    font-size: clamp( 1.5rem , 1.2837837838rem  +  1.0810810811vw , 2.125rem );
  }
}

@supports not (font-size: clamp( 1.5rem , 1.2837837838rem  +  1.0810810811vw , 2.125rem )) {
  .slider__heading {
    font-size: calc(1.5rem + 0.625 * (100vw - 20rem) / 57.8125);
  }
}

.slider__text {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 149.5%;
  color: rgba(53, 53, 53, 0.6);
}

.slider__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.slider__arrow-prev,
.slider__arrow-next {
  position: absolute;
}

.slider__arrow-prev:hover::before,
.slider__arrow-next:hover::before {
  background-color: gold;
}

.slider__arrow-prev::before,
.slider__arrow-next::before {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  background-color: #fff;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.slider__arrow-prev {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 0.9375rem;
}

.slider__icon {
  width: 2.1rem;
  height: 2.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__arrow-next {
  -webkit-transform: translateY(-50%) rotate(-180deg);
      -ms-transform: translateY(-50%) rotate(-180deg);
          transform: translateY(-50%) rotate(-180deg);
  right: 0.9375rem;
  top: 50%;
}

.slider__dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0rem);
      -ms-transform: translate(-50%, 0rem);
          transform: translate(-50%, 0rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 0.4375rem;
}

@supports (bottom: clamp( -5.3125rem , -1.527027027rem  +  -4.8648648649vw , -2.5rem )) {
  .slider__dots {
    bottom: clamp( -5.3125rem , -1.527027027rem  +  -4.8648648649vw , -2.5rem );
  }
}

@supports not (bottom: clamp( -5.3125rem , -1.527027027rem  +  -4.8648648649vw , -2.5rem )) {
  .slider__dots {
    bottom: calc(-2.5rem + -2.8125 * (100vw - 20rem) / 57.8125);
  }
}

.slider__dots .swiper-pagination-bullet {
  width: 0.5625rem;
  height: 0.5625rem;
  background-color: #fff;
  border-radius: 50%;
  display: block;
  opacity: 0.2;
}

.slider__dots .swiper-pagination-bullet:hover {
  cursor: pointer;
}

.slider__dots .swiper-pagination-bullet-active {
  background-color: #fff;
  opacity: 1;
}

.integrations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

@supports (padding-top: clamp( 2.5rem , 1.2027027027rem  +  6.4864864865vw , 6.25rem )) {
  .integrations {
    padding-top: clamp( 2.5rem , 1.2027027027rem  +  6.4864864865vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.2027027027rem  +  6.4864864865vw , 6.25rem )) {
  .integrations {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 57.8125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.2027027027rem  +  6.4864864865vw , 6.25rem )) {
  .integrations {
    padding-bottom: clamp( 2.5rem , 1.2027027027rem  +  6.4864864865vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.2027027027rem  +  6.4864864865vw , 6.25rem )) {
  .integrations {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 57.8125);
  }
}

.integrations__img {
  max-width: 29.375rem;
}

.integrations__img img {
  width: 100%;
}

.integrations__title {
  margin-bottom: 0.8125rem;
}

.integrations__text {
  max-width: 28.125rem;
  margin-left: auto;
  margin-right: auto;
}

.feedback {
  background-color: #088341;
  position: relative;
}

@supports (padding-top: clamp( 2.5rem , 0.9864864865rem  +  7.5675675676vw , 6.875rem )) {
  .feedback {
    padding-top: clamp( 2.5rem , 0.9864864865rem  +  7.5675675676vw , 6.875rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.9864864865rem  +  7.5675675676vw , 6.875rem )) {
  .feedback {
    padding-top: calc(2.5rem + 4.375 * (100vw - 20rem) / 57.8125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 0.9864864865rem  +  7.5675675676vw , 6.875rem )) {
  .feedback {
    padding-bottom: clamp( 2.5rem , 0.9864864865rem  +  7.5675675676vw , 6.875rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.9864864865rem  +  7.5675675676vw , 6.875rem )) {
  .feedback {
    padding-bottom: calc(2.5rem + 4.375 * (100vw - 20rem) / 57.8125);
  }
}

.feedback::before {
  content: "";
  position: absolute;
  background: url("../img/feedback/1.svg") 0 0 no-repeat;
  height: 26.1875rem;
  width: 24.875rem;
  bottom: -7.5rem;
}

.feedback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-gap: 3.125rem;
}

.feedback__content {
  -ms-flex-preferred-size: 28.75rem;
      flex-basis: 28.75rem;
  z-index: 1;
}

.feedback__title {
  margin-bottom: 1.25rem;
  color: #fff;
  text-align: left;
}

.feedback__text {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.125rem;
  line-height: 160%;
}

.feedback__form {
  -ms-flex-preferred-size: 33.5rem;
      flex-basis: 33.5rem;
  z-index: 1;
  background-color: #fff;
  border-radius: 1.875rem;
}

@supports (padding: clamp( 0.9375rem , 0.6131756757rem  +  1.6216216216vw , 1.875rem )) {
  .feedback__form {
    padding: clamp( 0.9375rem , 0.6131756757rem  +  1.6216216216vw , 1.875rem );
  }
}

@supports not (padding: clamp( 0.9375rem , 0.6131756757rem  +  1.6216216216vw , 1.875rem )) {
  .feedback__form {
    padding: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 57.8125);
  }
}

.form {
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.form__heading {
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 2.4375rem;
  color: #6861f2;
  text-align: center;
  margin-bottom: 1rem;
}

.form__items {
  margin-bottom: 1.25rem;
}

.form__label {
  text-transform: capitalize;
  font-size: 1rem;
  line-height: 187.5%;
  color: #6e6c6c;
  display: -ms-grid;
  display: grid;
}

.form__label-box {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 3.75rem auto;
  grid-template-columns: 3.75rem auto;
  grid-gap: 0.625rem;
}

.form__label select {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.875rem;
  color: #afafaf;
  height: 70%;
}

.form__input {
  display: inline-block;
  margin-top: 0.625rem;
  padding: 1rem 0.3125rem 1rem 1.625rem;
  width: 100%;
}

.form__input::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 1rem;
  line-height: 187.5%;
  color: #afafaf;
}

.form__input::-moz-placeholder {
  font-weight: 500;
  font-size: 1rem;
  line-height: 187.5%;
  color: #afafaf;
}

.form__input:-ms-input-placeholder {
  font-weight: 500;
  font-size: 1rem;
  line-height: 187.5%;
  color: #afafaf;
}

.form__input::-ms-input-placeholder {
  font-weight: 500;
  font-size: 1rem;
  line-height: 187.5%;
  color: #afafaf;
}

.form__input::placeholder {
  font-weight: 500;
  font-size: 1rem;
  line-height: 187.5%;
  color: #afafaf;
}

.form__input::-webkit-input-placeholder:focus .form__input::-webkit-input-placeholder {
  display: none;
}

.form__input::-moz-placeholder:focus .form__input::-moz-placeholder {
  display: none;
}

.form__input:-ms-input-placeholder:focus .form__input:-ms-input-placeholder {
  display: none;
}

.form__input::-ms-input-placeholder:focus .form__input::-ms-input-placeholder {
  display: none;
}

.form__input::placeholder:focus .form__input::placeholder {
  display: none;
}

.form__textarea {
  resize: none;
  padding: 1rem 0.3125rem 1rem 1.625rem;
  min-height: 6.25rem;
}

.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 3.125rem;
}

.form__button {
  font-size: 1rem;
  line-height: 1.875rem;
  color: #6861f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 0.625rem;
  color: #fff;
}

.form__button:first-child {
  color: #6861f2;
}

.form__icon {
  width: 1.125rem;
  height: 1.125rem;
}

.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form input[type=number] {
  -moz-appearance: textfield;
}

@supports (padding-top: clamp( 2.5rem , 0.7702702703rem  +  8.6486486486vw , 7.5rem )) {
  .pricing {
    padding-top: clamp( 2.5rem , 0.7702702703rem  +  8.6486486486vw , 7.5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.7702702703rem  +  8.6486486486vw , 7.5rem )) {
  .pricing {
    padding-top: calc(2.5rem + 5 * (100vw - 20rem) / 57.8125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 0.7702702703rem  +  8.6486486486vw , 7.5rem )) {
  .pricing {
    padding-bottom: clamp( 2.5rem , 0.7702702703rem  +  8.6486486486vw , 7.5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.7702702703rem  +  8.6486486486vw , 7.5rem )) {
  .pricing {
    padding-bottom: calc(2.5rem + 5 * (100vw - 20rem) / 57.8125);
  }
}

.pricing__container {
  max-width: 84.375rem;
}

.pricing__title {
  margin-bottom: 1.375rem;
}

.pricing__text {
  text-align: center;
  font-size: 1.125rem;
  line-height: 160%;
  color: #353535;
  opacity: 0.6;
}

@supports (margin-bottom: clamp( 2rem , 1.3513513514rem  +  3.2432432432vw , 3.875rem )) {
  .pricing__text {
    margin-bottom: clamp( 2rem , 1.3513513514rem  +  3.2432432432vw , 3.875rem );
  }
}

@supports not (margin-bottom: clamp( 2rem , 1.3513513514rem  +  3.2432432432vw , 3.875rem )) {
  .pricing__text {
    margin-bottom: calc(2rem + 1.875 * (100vw - 20rem) / 57.8125);
  }
}

.pricing__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 20rem));
  grid-gap: 1.25rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pricing__item {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 1.875rem 3.625rem 1.875rem;
  border-radius: 1.5625rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.pricing__item:hover {
  background: #192435;
  -webkit-box-shadow: 0rem 0.125rem 0.25rem rgba(44, 46, 48, 0.0504982);
          box-shadow: 0rem 0.125rem 0.25rem rgba(44, 46, 48, 0.0504982);
}

.pricing__item:hover .pricing__price {
  color: #fff;
}

.pricing__item:hover .pricing__price {
  color: #fff;
}

.pricing__item:hover .pricing__duration {
  color: #fff;
}

.pricing__item:hover .pricing__info {
  color: #fff;
}

.pricing__item:hover .pricing__link {
  color: #6861f2;
  background-color: #fff;
}

.pricing__type {
  font-weight: 700;
  font-size: 0.8125rem;
  line-height: 123%;
  color: #fff;
  padding: 0.375rem 1.25rem;
  background-color: #6861f2;
  border-radius: 3.75rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1.25rem;
}

.pricing__price {
  font-weight: 600;
  line-height: 150%;
  color: #192435;
  font-family: "Poppins";
}

@supports (font-size: clamp( 2.1875rem , 1.6469594595rem  +  2.7027027027vw , 3.75rem )) {
  .pricing__price {
    font-size: clamp( 2.1875rem , 1.6469594595rem  +  2.7027027027vw , 3.75rem );
  }
}

@supports not (font-size: clamp( 2.1875rem , 1.6469594595rem  +  2.7027027027vw , 3.75rem )) {
  .pricing__price {
    font-size: calc(2.1875rem + 1.5625 * (100vw - 20rem) / 57.8125);
  }
}

.pricing__duration {
  font-size: 1.125rem;
  line-height: 188.888889%;
  color: #7e8085;
  -webkit-transform: translate(0rem, -1.25rem);
      -ms-transform: translate(0rem, -1.25rem);
          transform: translate(0rem, -1.25rem);
  text-transform: capitalize;
  margin-bottom: 4.8125rem;
}

.pricing__info {
  max-width: 15.625rem;
  margin-bottom: 1.875rem;
  color: rgba(53, 53, 53, 0.6);
}

.pricing__link {
  width: 100%;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
}

@supports (padding-top: clamp( 2.5rem , 0.7702702703rem  +  8.6486486486vw , 7.5rem )) {
  .question {
    padding-top: clamp( 2.5rem , 0.7702702703rem  +  8.6486486486vw , 7.5rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.7702702703rem  +  8.6486486486vw , 7.5rem )) {
  .question {
    padding-top: calc(2.5rem + 5 * (100vw - 20rem) / 57.8125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 0.7702702703rem  +  8.6486486486vw , 7.5rem )) {
  .question {
    padding-bottom: clamp( 2.5rem , 0.7702702703rem  +  8.6486486486vw , 7.5rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.7702702703rem  +  8.6486486486vw , 7.5rem )) {
  .question {
    padding-bottom: calc(2.5rem + 5 * (100vw - 20rem) / 57.8125);
  }
}

.question__title {
  margin-bottom: 1.25rem;
}

.question__subtitle {
  color: rgba(53, 53, 53, 0.6);
  text-align: center;
}

@supports (margin-bottom: clamp( 2.5rem , 2.0675675676rem  +  2.1621621622vw , 3.75rem )) {
  .question__subtitle {
    margin-bottom: clamp( 2.5rem , 2.0675675676rem  +  2.1621621622vw , 3.75rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 2.0675675676rem  +  2.1621621622vw , 3.75rem )) {
  .question__subtitle {
    margin-bottom: calc(2.5rem + 1.25 * (100vw - 20rem) / 57.8125);
  }
}

.question__spollers {
  display: -ms-grid;
  display: grid;
  grid-gap: 0.8125rem;
}

.question__spollers-title {
  padding: 1.375rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 230%;
  letter-spacing: -0.0163rem;
  color: #192435;
}

.question__icon {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-active .question__icon {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.question__spollers-body {
  padding: 0 2.5rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 160%;
  color: rgba(53, 53, 53, 0.6);
}

@supports (margin-bottom: clamp( 2.5rem , 1.2027027027rem  +  6.4864864865vw , 6.25rem )) {
  .contact {
    margin-bottom: clamp( 2.5rem , 1.2027027027rem  +  6.4864864865vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.2027027027rem  +  6.4864864865vw , 6.25rem )) {
  .contact {
    margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 57.8125);
  }
}

.contact__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #017737;
  border-radius: 3.125rem;
  padding: 2.5rem;
  color: #fff;
  position: relative;
  overflow: hidden;
}

@supports (gap: clamp( 3.125rem , 2.9736486486rem  +  0.7567567568vw , 3.5625rem )) {
  .contact__container {
    gap: clamp( 3.125rem , 2.9736486486rem  +  0.7567567568vw , 3.5625rem );
  }
}

@supports not (gap: clamp( 3.125rem , 2.9736486486rem  +  0.7567567568vw , 3.5625rem )) {
  .contact__container {
    gap: calc(3.125rem + 0.4375 * (100vw - 20rem) / 57.8125);
  }
}

.contact__container::after {
  content: "";
  position: absolute;
  background: url("../img/contact/decor.svg") 0 0 no-repeat;
  height: 21.125rem;
  width: 20.0625rem;
  right: -6.25rem;
  top: 0;
}

.contact__img {
  z-index: 2;
}

.contact__img img {
  border-radius: 1.875rem;
}

.contact__content {
  z-index: 2;
  max-width: 33.4375rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.25rem;
}

.contact__title {
  font-weight: 600;
  line-height: 116%;
  letter-spacing: -0.03em;
  color: #fff;
  text-align: left;
}

@supports (font-size: clamp( 1.625rem , 1.3222972973rem  +  1.5135135135vw , 2.5rem )) {
  .contact__title {
    font-size: clamp( 1.625rem , 1.3222972973rem  +  1.5135135135vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.625rem , 1.3222972973rem  +  1.5135135135vw , 2.5rem )) {
  .contact__title {
    font-size: calc(1.625rem + 0.875 * (100vw - 20rem) / 57.8125);
  }
}

.contact__subtitle {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 149.5%;
}

.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 2.75rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-left: 0.9375rem;
  padding: 1.25rem 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  white-space: nowrap;
}

.contact__link::before {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 3.5rem;
  left: -1.5rem;
  top: -1.5rem;
  -webkit-transform: translate(0.4375rem, 0.5625rem);
      -ms-transform: translate(0.4375rem, 0.5625rem);
          transform: translate(0.4375rem, 0.5625rem);
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.08);
}

.contact__icon {
  min-width: 1.5rem;
  width: 1.5rem;
  min-height: 1.5rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 77.8125em) {
  .about__item:nth-child(1)::after {
    content: "";
    position: absolute;
    background: url("../img/about/decor.svg") 0 0 no-repeat;
    width: 6.4494rem;
    height: 10.6788rem;
    right: -10rem;
    bottom: -5.625rem;
  }

  .about__item:nth-child(2)::after {
    content: "";
    position: absolute;
    background: url("../img/about/decor.svg") 0 0 no-repeat;
    width: 6.4494rem;
    height: 10.6788rem;
    left: -10rem;
    bottom: -5.625rem;
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }

  .about__item:nth-child(3)::after {
    content: "";
    position: absolute;
    background: url("../img/about/decor.svg") 0 0 no-repeat;
    width: 6.4494rem;
    height: 10.6788rem;
    right: -10rem;
    bottom: -6.25rem;
  }
}

@media (max-width: 61.99875em) {
  .slider__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slider__content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }
}

@media (max-width: 56.25em) {
  .menu-open .header {
    min-height: 100vh;
    overflow: auto;
  }

  .header__menu {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 1.5625rem;
    position: absolute;
    top: 4.375rem;
    left: 0;
    width: 100%;
    height: 37.5rem;
    -webkit-transform: translate(-300%, 0rem);
        -ms-transform: translate(-300%, 0rem);
            transform: translate(-300%, 0rem);
    padding: 3.125rem 0 3.125rem 0;
    background-color: #6861f2;
    -webkit-transition: -webkit-transform 0.9s ease 0s;
    transition: -webkit-transform 0.9s ease 0s;
    -o-transition: transform 0.9s ease 0s;
    transition: transform 0.9s ease 0s;
    transition: transform 0.9s ease 0s, -webkit-transform 0.9s ease 0s;
    height: 43.75rem;
    overflow: auto;
  }

  .header__item {
    width: 100%;
  }

  .header__link::after {
    right: auto;
    padding-left: 1.25rem;
  }

  .header__link {
    font-size: 1.75rem;
    display: block;
    color: #fff;
    padding: 1.875rem;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__burger span {
    width: 100%;
    height: 0.125rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    background-color: #000;
    -webkit-transition: width 0.4s ease 0s;
    -o-transition: width 0.4s ease 0s;
    transition: width 0.4s ease 0s;
  }

  .menu-open .header__burger span {
    width: 0;
  }

  .header__burger span::before,
  .header__burger span::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 0.125rem;
    background-color: #000;
    -webkit-transition: top, bottom, 0.4s ease 0s, -webkit-transform;
    transition: top, bottom, 0.4s ease 0s, -webkit-transform;
    -o-transition: transform, top, bottom, 0.4s ease 0s;
    transition: transform, top, bottom, 0.4s ease 0s;
    transition: transform, top, bottom, 0.4s ease 0s, -webkit-transform;
  }

  .header__burger span::before {
    top: 0;
  }

  .menu-open .header__burger span::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: calc(50% - 0.0625rem);
  }

  .header__burger span::after {
    bottom: 0;
  }

  .menu-open .header__burger span::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .contact__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contact__img img {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 47.99875em) {
  .footer__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .more-block__container {
    text-align: center;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .more-block__text {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .more__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 1.25rem;
  }

  .more__heading {
    margin-top: 0.9375rem;
  }

  .about__item-box {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .feedback__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .feedback__content {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .feedback__form {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    width: 100%;
  }

  .question__spollers-title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    line-height: 1.3;
    grid-gap: 0.9375rem;
  }
}

@media (max-width: 35.43625em) {
  .about__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__item-img img {
    max-width: 100%;
  }

  .about__num {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .session__link {
    width: 100%;
  }

  .integrations__img {
    display: none;
  }
}

@media (max-width: 31.875em) {
  .header__button {
    background-color: #fff;
    color: #192435;
  }
}

@media (max-width: 29.99875em) {
  .header__nav {
    -ms-flex-line-pack: center;
        align-content: center;
  }

  .footer__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .hero__link {
    width: 100%;
  }

  .hero__link:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .hero__wrapper::before,
  .hero__wrapper::after {
    display: none;
  }

  .hero__bottom {
    display: none;
  }

  .slider__arrow-prev,
  .slider__arrow-next {
    display: none;
  }
}

.webp .session{ background: url(../img/session/bg.webp) center/cover no-repeat; }